.bundle
log/*.log
tmp
app/assets/images/hotels/orig
app/assets/images/hotels/*.jpg
app/assets/images/hotels/*.png
app/assets/images/hotels/*.gif
app/assets/images/hotels/*.tif
app/assets/images/hotels/homepage
db/backup
*.dat







