<%= render 'layouts/construction' %>



<!--
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.name %></td>
    <td><%= link_to 'Show', 'activity' %></td>

  </tr>
<% end %>
</table>

<br />

-->

