<div class="background-swirl">

	<div id="construction" class="full-width">
			<div class="container">
				<div class="span-17">

						<h2>Sublime Sydney is still under construction . . .</h2>
						<p>
							Sublime Sydney is still under construction.
							We’ve completed our recommendations for hotels in Sydney, as well as for short
							sojourns.  In the next few months, we will add villas and longer sojourns
							(such as the Great Barrier Reef and New Zealand’s Southern Alps).
							We’re also reviewing restaurants and assembling the definitive list of Sydney's best activities.
							<br><br>
							Please check back soon.
						<br><br>
						</p>
			</div>
		</div>
	</div>
	<br>
</div>