<footer class="full-width">

	<div class="container">
		<div class="span-24">
			<ul>

				<li><%= link_to "Home", root_path %></li>
				<li id="last-menu"><%= mail_to "hello@sublimetravel.com", "Contact" %></li>
				<li id="copyright">&copy <%= Time.now.year %> Sublime Travel</li>
				<!--
				 <li><% link_to "Admin", rails_admin_dashboard_path %></li>
				-->
			</ul>

		</div>
	</div>

</footer>
